html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: #fff;
  /* background-color: #121212; */
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#title {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #414141aa, #272727aa);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  color: #fff;
  font-weight: 100;
  margin-top: 20px;
}

.top i {
  font-size: 18px;
  margin-top: 6px;
}

h1 {
  font-size: 12px;
  color: white;
  font-weight: 300;
}

#title img {
  margin-top: 20px;
  width: clamp(300px, 90%, 500px);
  aspect-ratio: 1/1;
  /* add a gradient box shadow almost matching background */
  box-shadow: 0px 0px 5px 5px #272727aa;
}


#name-container{
  padding: 0;
  width: 90%;
}

#name-container #circle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: transparent;
  /* set the border color to match the green accent of spotify */
  border: 3px solid #1db954;
  border-radius: 50%;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 4px solid #1db954;
  background-color: #1db954;
}

.song {
  margin-left: 5%;
}

#title h2 {
  width: 90%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-bottom: 0;
  align-self: flex-start;
}

#title h3 {
  font-size: 14px;
  color: #c0c0c0;
  font-weight: 100;
  margin-top: 0;
  align-self: flex-start;
}

#prog-bar-empty {
  width: 90%;
  height: 5px;
  background-color: #c0c0c0;
  border-radius: 5px;
}

#prog-bar-full {
  width: 0;
  height: 100%;
  background-color: #fff;
  border-radius: 5px 0 0 5px;
}

#prog-bar-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 0;
  margin-top: -3px;
}

#prog-bar-circle:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

#controls {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-left: -10px;
  margin-bottom: 32px;
}

#play {
  width: 70px;
  height: 50px;
  color: #fff;
  background-color: #1db954;

}

/* #title a:hover {
  transform: rotate(90deg) translateY(3px);
  transition: 0.3s ease-in-out;
} */

a:not(:hover) {
  transform: rotate(0deg) translateY(0px);
  transition: 0.3s ease-in-out;
}

#controls * {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  margin-inline: 20px;
}

#controls i {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls i:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#title form {
  display: none;
}

#mobile-form {
  width: 100%;
  background-color: #2a2a2a;
  color: #fff;
}

#form-title {
  margin-top: 30px;

}

#mobile-form:first-child {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 85%;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: #ffffff52;

}

form input:first-child {
  margin-top: 20px;
}

form > *:not(:nth-child(4)) {
  margin: 6px 0;
  width: 90%;
  height: 30px;
}

form > *:not(:last-child) {
  background-color: #2727277e;
  border: none;
  /* box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1); */
  padding: 10px;
  color: #fff;
}

textarea {
  width: 90%;
  height: 200px;
  margin: 6px 0;
}

input[type="submit"] {
  width: 90%;
  height: 35px;
  background-color: #1db954;
  border: none;
  border-radius: 17px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

#about {
  margin: 0;
  width: 100%;
  background-color: #121212;
}

#introduction {
  width: 85%;
  font-size: 17px;
  padding: 10px;
  padding-left: 16px;
  margin-left: 4%;
  margin-top: 6px;
  background-color: #2a2a2a;
}

#introduction b {
  color: #1db954;
  font-weight: normal;
}

#below-form {
  margin-top: 22px;
}

.socials {
  position: fixed;
  bottom: 0;
  /* curve the top corners */
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: center;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  background-color: rgba(256, 256, 256, 0.19);
  backdrop-filter: blur(10px);
}

.socials a {
  background-color: transparent;
  border: none;
}

.socials i {
  color: #fff;
  font-size: 26px;
  margin: 0 10px;
}

.socials a:active {
  color: #fff;
}

#about-title {
  font-size: 45px;
  color: #fff;
  margin-bottom: 0;
}

#about h2 {
  position: relative;
  top: 2%;
}

#title p {
  font-size: 22px;
  color: #fff;
  margin-left: 5%;
  width: 70%;
}

#filters {
  font-size: 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-left: 4%;
}

#filters > *:not(:first-child){
  margin: 0 7px;
  background-color: #2a2a2a;
  height: 30px;
  border-radius: 17px;
  padding-top: 10px;
}

#filters > *:not(:first-child):hover {
  cursor: pointer;
  background-color: #1db954;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.hide {
  display: none;
}

#close {
  width: 30px;
  height: 30px;
  background-color: #2a2a2a;
  border-radius: 50%;

  display: none;
  justify-content: center;
  align-items: center;
}

#close i {
  position: relative;
  top: 5px;
  left: 7px;
  font-size: 18px;
  color: #fff;
}

.filter {
  padding-inline: 10px;
}

.skills-title {
  font-size: 30px;
  color: #fff;
  margin-top: 20px;
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sub {
  margin-top: 36px;
}

hr {
  border: 1px solid #1db954;
  width: 20px;

}

#skills {
  width: 90%;
  max-height: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-left: 5%;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#skills::-webkit-scrollbar {
  display: none;
}

.skill {
  flex: 1 0 250px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  color: #fff;
  margin: 6px;
  padding-inline: 10px;
}

.skill:hover {
  cursor: pointer;
  color: #1db954;
}

.skill * {
  margin: 0 10px;
}

.skill i {
  font-size: 36px;
}

#projects {
  /* display contents inline while allowing overflow on the x axis */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 150px;
  margin-bottom: 32px;
  margin-left: 5%;
  /* enable scrolling on x axis without overflow */
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#projects::-webkit-scrollbar {
  display: none;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  flex: 1 0 30%;
}

.project i {
  font-size: 80px;
  color: #fff;
  margin: 0 10px;
}

.project i:hover {
  cursor: pointer;
  color: #1db954;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 97%;
  margin: 8px 0;
  background-color: #2a2a2a4a;
}

.project-details img {
  margin-top: 8px;
  margin-bottom: 0;
  width: 90%;
  object-fit: cover;
}

.project-details hr {
  width: 20%;
  margin: 32px 0 16px;
  border: 1px solid #1db954;
}

.project-details p {
  font-size: 16px;
  color: #fff;
  margin: 16px 10px;
  width: 90%;
  text-align: center;
}

.project-details h2 {
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff;
}

.project-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.project-tags li {
  padding: 6px 10px;
  margin: 6px 4px;
  background-color: #1db95460;
  border-radius: 25px;
  color: #fff;
}

.live {
  background-color: #1db954;
  border: none;
  outline: none;
  margin-top: 8px;
  width: 70%;
  height: 40px;
  border-radius: 25px;
}

.live a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.live:last-child {
  margin-bottom: 36px;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background-color: #2a2a2a;
  padding-bottom: 32px;
}

/* make contact overlap with previous section */
#contact {
  margin-top: -32px;
}

#contact h2 {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

#contact h2:last-child {
  margin-top: 6px;
  margin-bottom: 26px;
}

#email-title {
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.email-add {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: transparent;
  border: none;
  width: min-content;
}

#email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  overflow: hidden;
}

#email-container hr {
  display: none;
  width: 0;
  margin: 0;
  padding: 0;
}

/* media query for desktop */
@media only screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden ;
    background-color: black;
  }

  body > * {
    border-radius: 25px;
  }

  #title {
    width: clamp(300px, 30%, 350px);
    height: 100vh;
    background: linear-gradient(180deg, #414141aa, #272727aa);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    justify-content: flex-end;
  }

  #title img {
    margin-top: 20px;
    width: clamp(200px, 90%, 500px);
    aspect-ratio: 1/1;
    /* add a gradient box shadow almost matching background */
    box-shadow: 0px 0px 5px 5px #272727aa;
  }

  .top {
    display: none;
  }

  #prog-bar-full {
    width: 70px;
    flex-grow: 2;
  }

  #prog-bar-circle {
    margin-left: 70px;
  }

  #controls {
    width: 70%;
    overflow: hidden;
  }

  #about {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #about::-webkit-scrollbar {
    display: none;
  }

  #filters {
    display: none;
  }

  .project {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 10px;
  }

  .project:hover i {
    color: #1db954;
  }

  .skills-title {
    margin-bottom: 40px;
  }

  #title form {
    display: flex;
  }

  #form-title {
    display: none;
  }

  #mobile-form {
    display: none;
  }
}
