:root {
  --background: #190015;
  --text: #ffebfc;
  --primary: #f90154;
  --secondary: #00470c;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#close {
  position: fixed;
  top: 16px;
  left: 16px;
  font-size: 32px;
  color: var(--text);
}


i {
  position: fixed;
  top: 16px;
  left: 16px;
  font-size: 32px;
  color: var(--text);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 16px;
  box-sizing: border-box;
}

h1 {
  padding: 0;
  color: var(--primary);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: calc(100vh - 60px);
  padding-bottom: 60px;
  box-sizing: border-box;
}

#home-content {
  /* background-color: var(--secondary); */
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-content p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  text-align: center;
  line-height: 1.5;
}

#home-content a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#content img {
  width: 70%;
  object-fit: contain;
  margin-bottom: 16px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  box-sizing: border-box;
  font-size: 32px;
  margin: 8px;
}

.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  top: 0;
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
  padding: 20% 0 0 10%;
}

.menu  > *:hover {
  color: var(--primary);
  cursor: pointer;
}
